@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: transparent linear-gradient(127deg, #c8e8ed 0%, #c8e8ed 100%) 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    min-height: 848px;
}

.space {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sign-in {
    margin: 60px;
    margin-top: 100px;
    max-width: 1000px;
    width: 100%;
    background: #fff;
    border-radius: 30px;
    padding: 100px 150px;
    display: flex;
    justify-content: space-between;
}


.sign-in-heading h3 {
    color: #212112;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0px;
}


.sign-in-form {
    width: 320px;
}

.sign-in-form a {
    display: block;
    width: 100%;
    border: 2px solid #DCDBE5;
    border-radius: 5px;
    font-size: 18px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #212121;
    font-weight: 700;
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    .sign-in {
        flex-direction: column;
        align-items: center;
    }

    .sign-in-heading h3 {
        margin-bottom: 45px;
        align-self: right;
    }
}

.btn-sign-in-social img {
    margin: 10px;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}


.divider-line {
    width: 100%;
    height: 2px;
    background-color: #DCDBE5;
}

.divider-text {
    color: #8986A2;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 600;
    /* margin-bottom: 20px; */
}
/* @media (max-width: 900px) {
    .divider {
        margin-bottom: 20px;
        display: none;
    }
} */

@media (max-width: 900px) {
    .sign-in {
        margin: 0px;
        margin-top: 100px;
        justify-content: center;
    }

    .sign-in-form {
        min-width: 320px;
        margin-top: -20px;
        margin-bottom: 20px;
        justify-content: center;
    }

    /* .sign-in-heading h3 {
        color: transparent;
        width: 0px;
    } */

    .sign-in-form {
        justify-content: center;
    }
}

@media (max-width:620px) {
    .sign-in {
        border-radius: 0px;
    }
}

label span {
    color: #212112;
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}

.mail {
    margin-top: 15px;
}

.agree {
    color: #212112;
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin-top: 20px;
}

.msg {
    color: #212112;
    font-size: 14px;
    font-weight: 700;
    display: block;
    /* margin-top: -10px; */
    margin-bottom: 20px;
}

.gender {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 2px 0; */
    font-family: 'Poppins', sans-serif;
    /* min-width: 60px; */
}

.genderinp {
    min-width: 60px;
}

/* @media (max-width: 620px) {
    .gender {
        min-width: 80px;
    }
} */

.adult {
    color: #ad341c;
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin-top: -5px;
    margin-bottom: 10px;
}

/* label has to be left of radio,
all radios should span div.sign-in-form left to right */


label input[type="text"],
[type="password"],
[type="tel"] {
    color: #212112;
    display: block;
    width: 100%;
    border: 2px solid #DCDBE5;
    border-radius: 5px;
    font-size: 18px;
    height: 64px;
    padding: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* label input:valid {
    border: 2px solid #7fff68;
}
label input:invalid {
    border: 2px solid #ff6868;
} */
label input[type="date"] {
    color: #393939;
    display: block;
    width: 100%;
    border: 2px solid #DCDBE5;
    border-radius: 5px;
    font-size: 18px;
    height: 64px;
    padding: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    justify-content: center;
}

label input[type="email"] {
    color: #212112;
    display: block;
    width: 100%;
    border: 2px solid #DCDBE5;
    border-radius: 5px;
    font-size: 18px;
    height: 64px;
    padding: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    /* background-color: #c8e8ed; */
}

label input[type="radio"] {
    color: #212112;
    display: inline-block;
    width: 100%;
    border: 2px solid #DCDBE5;
    border-radius: 5px;
    font-size: 18px;
    height: 20px;
    padding: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0px;
}

label input[type="checkbox"] {
    color: #212112;
    display: left;
    /* width: 100%; */
    border: 2px solid #DCDBE5;
    border-radius: 5px;
    font-size: 18px;
    /* height: 35px; */
    padding: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
    /* margin-top: -100px;
    margin-left: 215px; */
}

label input:hover {
    border: 3px solid #c8e8ed;
    /* color: #c8e8ed; */
}

label input[type="checkbox"] {
    display: inline-flex
}

/* label .info {
    margin-top: 20px;
    margin-bottom: 10px;
    display: left;
    font-size: 18;
} */

::placeholder {
    font-size: 18px;
    color: #8986A2 !important;
    font-weight: 600;
}

.btn-sign-in-main {
    background: transparent linear-gradient(101deg, #fff 0%, #fff 100%) 0% 0% no-repeat padding-box;
    color: #212112 !important;
    display: block;
    width: 100%;
    border: 2px solid #DCDBE5;
    border-radius: 5px;
    font-size: 18px;
    height: 64px;
    padding: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0px;
}

.btn-sign-in-main-two {
    background: transparent linear-gradient(101deg, #fff 0%, #fff 100%) 0% 0% no-repeat padding-box;
    color: #212112 !important;
    display: block;
    width: 100%;
    border: 2px solid #DCDBE5;
    border-radius: 5px;
    font-size: 18px;
    height: 64px;
    padding: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-sign-in-main:hover {
    background: transparent linear-gradient(101deg, #c8e8ed 0%, #c8e8ed 100%) 0% 0% no-repeat padding-box;
    border: 0 !important;
    color: #fff !important;

}

.btn-sign-in-main-two:hover {
    background: transparent linear-gradient(101deg, #c8e8ed 0%, #c8e8ed 100%) 0% 0% no-repeat padding-box;
    border: 0 !important;
    color: #fff !important;

}